$color-white: #fff;
$color-black: #000;
$color-samsung-blue: #0077c8;
$color-samsung-blue-light: #00b3e3;
$color-samsung-green: #97d653;

$color-grey-1: #f5f5f5;
$color-grey-2: #efefef;

$color-bg-dark: #4f4f4f;

